.date:hover {
    background-color: white;
    transition: 250ms;
    color: black;
    cursor: pointer;
}
.date__today:hover {
    background-color: white;
    transition: 250ms;
    color: black;
    cursor: pointer;
}
.calender {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}

.calender-container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.date {
  display: flex;
  flex-direction: column;
  width: 7vw;
  height: 6vw;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  border: 1px solid gray;
  padding: 1%;
  font-size: 20px;
  transition: 250ms;
}

.date__today {
    display: flex;
    flex-direction: column;
    width: 7vw;
    height: 6vw;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    border: 1px solid gray;
    background-color: rgb(174, 174, 174);
    padding: 1%;
    color: rgb(0, 47, 255);
    font-size: 20px;
    transition: 250ms;
  }

.calender-day__container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}
.calender-day {
  display: flex;
  width: 7vw;
  margin: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date__date{
  display: flex;
}
