.date:hover {
    background-color: white;
    transition: 250ms;
    color: black;
    cursor: pointer;
}
.date__today:hover {
    background-color: white;
    transition: 250ms;
    color: black;
    cursor: pointer;
}

.calender-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calender-anniversary{
  display: flex;
  width: fit-content;
  font-size: 16px;
  border: none;
  margin-top: 1vh;
  border-radius: 30px;
  padding: 1vw;
  background-color: rgb(176, 176, 176);
  font-weight: 600;
  color: black;
}

.calender-aniversary__button {
  display: flex;
  border: none;
  color: black;
margin-left: 0.5vw;
  background-color: transparent;
  cursor: pointer;
}


.calender-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calender-container__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  gap: 10px;
}

.calender-font {
  font-size: 18px;
  font-weight: 700;
}

.calender-container__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calender {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}

.calender-container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}


.calender-input {
  display: flex;
  width: 15vw;
  font-size: 16px;
  border: 2px solid white;

  margin-top: 1vh;
  border-radius: 30px;

  padding: 1vw;

  background-color: rgb(174, 214, 255);
  font-weight: 600;
}
.calender-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  font-size: 16px;
  margin-top: 1vh;
  border: none;
  border-radius: 30px;

  padding: 0.5vw;

  background-color: white;
  font-weight: 600;
  cursor: pointer;
}

.date {
  display: flex;
  flex-direction: column;
  width: 7vw;
  height: 6vw;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  border: 1px solid gray;
  padding: 1%;
  font-size: 20px;
  transition: 250ms;
}

.date__today {
    display: flex;
    flex-direction: column;
    width: 7vw;
    height: 6vw;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    border: 1px solid gray;
    background-color: rgb(174, 174, 174);
    padding: 1%;
    color: rgb(0, 47, 255);
    font-size: 20px;
    transition: 250ms;
  }

.calender-day__container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}
.calender-day {
  display: flex;
  width: 7vw;
  margin: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date__date{
  display: flex;
}

.calender-month__button {
  display: flex;
  width: auto;
  font-size: 16px;
  border-radius: 30px;
  padding: 0.5vw;
  font-weight: 700;
  color: black;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
  font-weight: 600; 
  cursor: pointer;
}
