.page-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.usr-button {
  display: flex;
  width: 70vw;
  height: auto;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border: 3px solid blue;
}

.button-container {
  display: flex;
  border: 3px solid blue !important;
  width: 70vw;
  height: auto;
  flex-direction:row;
  gap: 40px;
}

.chat-container {
  display: flex;
  border: 3px solid white !important;
  width: 70vw;
  height: 70vh;
  flex-direction:column;
  overflow-y: scroll;
  flex-wrap: nowrap;
  padding: 20px;
}

.chat-container__chat__other {
  display: flex;
  flex-direction: column;
  width: inherit;
  align-items: flex-start;
  height: fit-content;
}

.chat-container__chat__question {
  display: flex;
  flex-direction: column;
  width: inherit;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.chat-container__chat__usr {
  display: flex;
  flex-direction: column;
  width: inherit;
  align-items: flex-end;
  height: fit-content;
}

.chat-container__chat {
  display: flex;
  background-color: rgb(174, 214, 255);
  font-size: 20px;
  color: black;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-align: start;
  border: 3px solid white;
  border-radius: 30px;
  padding: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  max-width: 30vw;
  width: fit-content;
  word-break: break-all;
  height: fit-content;
  margin-top: 0.5vh;
}

.chat-container__question {
  display: flex;
  background-color: rgb(252, 174, 255);
  font-size: 30px;
  color: black;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  text-align: start;
  border: 3px solid white;
  border-radius: 30px;
  padding: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  max-width: 30vw;
  width: fit-content;
  word-break: break-all;
  height: fit-content;
  margin-top: 0.5vh;
}

.chat-container__time {
  display: flex;
  width: fit-content;
  font-size: 15px;
  color: gray;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  text-align: start;
  border: none;
  padding: 1vh;

  max-width: 30vw;
  word-break: break-all;
  height: fit-content;
}